@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Debut partie 1 */

.part1{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* Tout ce qui concerne les textes d'intro */
.div-1{
    margin: 15px;
}

.div-1 h1{
    font-size: 45px;
    font-weight: bold;
}


.div-2{
    margin: 20px;
}


.div-2 p{
    font-size: 20px;
    font-weight: 600;
}

/* image */

.part1 .image-brand {
    width: 100%;
}

.part1 .image-brand img{
    height: 60%;
    width: 50%;
    /* object-fit: cover; */
}

/* Pour le bouton declencheur problèmes */

.part1 button{
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: hsl(120, 80%, 37%);
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.6s;
}

.part1 button:hover{
    background-color: hsl(120, 100%, 18%);
}

/* Partie 1 terminée */

/* Classe pour faire des trucs spéciaux */



/* Debut Partie 2 */

form{
    height: 100%;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-1{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    background-color: #000;
}

.form1{
    height: 100%;
    width: 100%;
}

.form-1 i {
    background-color: #00FF00;
    height: 100%;
    margin: auto;
}

.form1 input{
    height: 100%;
    width: 60%;
}